app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh

    kubectl expose deployment ballot -n ${ROOST_NAMESPACE} --type=LoadBalancer --name=ballotlbhttps

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2022-10-20T03:24:03.156Z
