build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
app_dependencies:
  type: None
  content: ''
app_deploy:
  type: text
  content: |2-
     #!/bin/sh
    kubectl apply -n ${ROOST_NAMESPACE} -f ballot/ballot.yaml 
    kubectl apply -n ${ROOST_NAMESPACE} -f ballot/deployment.yaml
app_test: []
app_uninstall:
  type: None
  content: ''
app_docker_compose: ballot/ballot.yaml
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-05-24T10:29:19.580Z
