app_dependencies:
  type: None
  content: ''
app_deploy:
  type: text
  content: |2-
     #!/bin/sh
    kubectl apply -n ${ROOST_NAMESPACE} -f ballot/ballot.yaml 
app_test: []
app_uninstall:
  type: None
  content: ''
app_docker_compose: ballot/ballot.yaml
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-05-24T06:42:15.442Z
