app_dependencies:
  type: None
  content: ''
app_deploy:
  type: flux
  content: ballot/ballot.yaml
app_test: []
app_uninstall:
  type: None
  content: ''
build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
lastUpdatedBy: Aishwarya Rane
lastUpdatedOn: 2022-11-29T05:49:04.088Z
