app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |2-
     #!/bin/sh
    docker-compose -f ballot/ballot.yaml up -d
app_test: []
app_uninstall:
  type: None
  content: ''
app_docker_compose: ballot/ballot.yaml
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-05-23T20:41:59.070Z
