app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: flux
  content: ballot/ballot.yaml
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

build:
  type: text
  content: '#!/bin/sh'
deploy:
  type: text
  content: |-
    #!/bin/sh

    kubectl get pods -n ${ROOST_NAMESPACE}
test: []
uninstall:
  type: text
  content: '#!/bin/sh'
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2022-11-23T05:00:14.275Z
